.face-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* can delete browser prefixes */
.bounding-box { 
    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 0px 3px #149df2 inset;
    cursor: pointer;
}

.image-container {
    position: absolute;
    margin-top: 2px;
}

.image-container img {
    border: none;
    border-radius: 10px;
}


/* parent set to position: "relative" while child container set to position: "absolute" */

/* display: flex;
justify-content: center; */
/* display: -webkit-box; */ 
/* display: -ms-flexbox; */
/* -ms-flex-wrap: wrap; */
/* -webkit-box-pack: center; */
/* -ms-flex-pack: center; */

/* 
.face-container > img {
    width: fit-content;
    height: auto;
} */
